.outerCont{
    display:flex;
    
    width:100%;
    background:var(--body-color);


}

.filterSideBar{
    display:flex;
    
}

.searchCont{
  
    display:flex;

    
    width:100%;
    flex-direction: column;
    align-items: center;
    margin-top:3%;
    
}

.resultBox{
    width: 74%;
    background: white;
    padding: 2.4% 3%;
    border-radius: 24px;
    margin: 1.5%;
    border-color: rgba(0,0,0,0.8);
    border-width:thin;
}

.coverImCont{
    background: black;
    overflow: hidden;
    align-items: center;
    width: 12vw;
    height: 12vw;
    float: left;
    margin-right:3%;

}

.coverIm{
    width:100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    z-index: 0;
  
}

.rbTitleCont{
    display:flex;
    
    height:30%;
    border-bottom:1px solid rgba(0,0,0,0.8);
    
}

.rbTitle{
   
    color:rgba(0,0,0,0.8);
    font-size:210%;
    font-weight:bold;
    font-family:'Open Sans';
    
    
    
}

.rbDescriptionCont{
    
    display:flex;
    height:50%;
    padding-top:1%;
  
}


.rbDescription{

}

.rbActionCont{
    display:flex;
    position:relative;
    height:20%;
    
}

.rbViewAlbumBtn{
    position:absolute;
    right:3%;
    bottom:0;
    margin:0;
    display:block;
  
}

.resultsDes{
    width:70%;
    margin-bottom:1%;
}

.rbAuthorCont{
    display:inline-block;
    position:relative;
   
    margin-left:20px;
}

.rbAuthor{
    display:inline-block;
    position:absolute;
    bottom:14%;
    white-space: nowrap;
  
}