<div id='albumDisplayModal' class="mod">
    <div class='imgLeftHolder'>
        
    </div>
    
    <div class='descriptionRight'>
        <div class='headerPart'>
            <div class='authorComponent'>
                <a class='authorAvatarCont'>
                  
                    <img class='authorAvatar'>
                  
                </a>
                
                <a class='authorName'></a>
            </div>
        </div>

        <div class='descriptionComponent'>
            <p class='imgDescription'>Test Description</p>
        </div>

        <div class= 'cta-stats'>
            <p id="likeCount">5 likes</p>
            <p id="commentCount">2 comments</p>
        </div>

        <div class='callToActionComponent'>
            
            <div class='cta-row'>
                <button class='cta-item likeBtn'>Like<span class='fa fa-thumbs-up cta-item-icon'></span></button>
               
                <button class='cta-item commentBtn'>Comment<span class='fa fa-comment cta-item-icon'></span></button>
                
            </div>
        </div>
        <div class='imgCommentsSpace'>
                
        </div>
        <div class='commentsComponent'>
            <div class='addCommentsBar'>
                <div class='authorAvatarCont'>
                    <img class='userAvatar'>
                </div>
                <div class='inputCommentCont'>
                    <textarea class='inputComment' placeholder='Add a comment...' rows="1"></textarea>
                </div>
            </div>
            
        </div>

    </div>
</div>
