
<nav class="main-navigation">
    <div class="left-bar">
   
        <ul class="nav-links">
        
            <li><a class='nav-button nav-logo' href="/">PictureRes</a></li>
            <li><a class='nav-button' id='my-gallery' href="">My Gallery</a></li>
        
        </ul>
    </div>  

    <div class='empty-space'>
        <input placeholder="Search" class='search-bar'></input>
    </div>
    
    <div class="right-bar">
        <ul class="login-links">
            <li><a class='nav-button' href="/signup" id="signUpBtn">Join</a></li>
            <li><a class='nav-button' href="/login" id="loginBtn">Login</a></li>
        </ul> 
        <ul class="logout-links">
            <li><a class='nav-button' href="#" id="logoutBtn">Logout</a></li>
            <div class='profileCont'>
                <span class='avatarContainer'><img src="assets\images\62616718_p0_master1200.jpg" class="avatarPic"></img></span>
            
                <div class='fa fa-angle-down'>
                  
                </div>

                <div class='profile-navigation'>
                    <div class='profileSidebarCont'>
                        <div class='profileSidebar'>
                            <div class='profileSidebarHeader'>
                                <div class='profileSidebarColorBar'></div>
                                <div class='profileSidebarAvatarCont'>
                                    <img class='profileSidebarAvatar' src="">
                                   
                                </div>
                                <p class='profileName'></p>
                            </div>
                            <div class='profileSidebarBody'>
                                <ul class='profileSidebarItems'>
                                    <div class='profileSidebarFollowerBox'>
                                        <li class="profileSidebarItem"><a>Following</a></li>
                                        <li class="profileSidebarItem"><a>Followers</a></li>
                                    </div>
                                    <div class='profileSidebarWorkBox'>
                                        <li class="profileSidebarItem"><a href="/uploadImages">Manage Works</a></li>
                                    </div>
                                    <div class='profileSidebarHistoryBox'>
                                        <li class="profileSidebarItem"><a>Browsing History</a></li>
                                    </div>
                                   
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
               

             
                
            </div>
                
         
        </ul>    
        
    </div>
    
</nav>

