<div class='profileSidebarCont'>
    <div class='profileSidebar'>
        <div class='profileSidebarHeader'>
            <div class='profileSidebarAvatarCont'>
                <img class='profileSidebarAvatar' src="">
               
            </div>
            <p class='profileName'></p>
        </div>
        <div class='profileSidebarBody'>
            <ul class='profileSidebarItems'>
                <div class='profileSidebarFollowerBox'>
                    <li class="profileSidebarItem"><a>Following</a></li>
                    <li class="profileSidebarItem"><a>Followers</a></li>
                </div>
                <div class='profileSidebarWorkBox'>
                    <li class="profileSidebarItem"><a href="/uploadImages">Manage Works</a></li>
                </div>
                <div class='profileSidebarHistoryBox'>
                    <li class="profileSidebarItem"><a>Browsing History</a></li>
                </div>
               
            </ul>
        </div>
    </div>