<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="google-signin-client_id" content="514434843520-p49lm90dlqo2ct0p7qe0oo0qfvhjue2e.apps.googleusercontent.com">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src= "jquery.form.min.js"></script>
      
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/main2.css">
        <link rel="stylesheet" href="css/navbar.css">
        <link rel="stylesheet" href="css/extras.css">
        <link rel="stylesheet" href="css/profileSidebar.css">
        <link rel="stylesheet" href="css/mainPageCarousels.css">
        <link rel="stylesheet" href="css/sections.css">
        <link rel="stylesheet" href="css/gradientButton.css">
        
        

               
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

        <title>Landing Page</title>
    </head>
    <body>
       
      

       
        <header>
            <%- include("partials/navbar.ejs") %> 

            
        </header>
        
        <button class='riseBtn'>
            <span class='fa fa-arrow-up fa-2x'></span>
        </button>
         
       
     
            
           
        
        <div class='triple-section'>
          
            <section class='row1'>
                <div class='carousel-wrapper'>
                    <div class='carousel'>
                        <span class='carousel__button--next fa fa-angle-right fa-5x'></span>
                        <span class='carousel__button--prev  fa fa-angle-left fa-5x'></span>
                    </div>
                </div>
            </section>
       
            
            <section class="following">
                <div class='headerCont'>
                    <h3>Works by Following</h3>
                </div>
                <div class="mainCarousel" id="followingCarousel">
                    <span class='carousel-main-following--next fa fa-angle-right fa-3x'></span>
                    <span class='carousel-main-following--prev  fa fa-angle-left fa-3x'></span>
                </div>
            </section>
           
            <section class="recommended">
                <div class='headerCont'>
                    <h3>Recommended Works</h3>
                </div>
                <div class="mainCarousel"  id="recommendedCarousel">
                    <span class='carousel-main-recommended--next fa fa-angle-right fa-3x'></span>
                    <span class='carousel-main-recommended--prev fa fa-angle-left fa-3x'></span>
                </div>
            </section>

            <section class="newest">
                <div class='headerCont'>
                    <h3>Newest</h3>
                </div>
                <div class="mainCarousel"  id="newestCarousel">
                    <span class='carousel-main-newest--next fa fa-angle-right fa-3x'></span>
                    <span class='carousel-main-newest--prev fa fa-angle-left fa-3x'></span>
               
                </div>
            </section>
        
        </div>   

           


       

        <footer>
            <div class='footerCont'>
                <div class='footerLogo'><h3>PictureRes</h3</div>
            </div>
        </footer>
        

       
       
  
      

        
        
        
        <script src="js/generateImages.js"></script>
        <script src="js/handleNav.js"></script>
        
      
        <script src="js/html2canvas.js"></script>
        <script src="js/handleCarousel.js"></script>
        <script src="js/handleMainPage.js"></script>
     
        <script>
            
            var user = "<%= user %>";
            if(user){
                user = user.replace(/&#34/g, "\"")
                user = user.replace(/;/g,"" )
                user = JSON.parse(user)
            }
            var token = "<%= token %>"

            var loginTruth;
            
	   
            
            $(document).ready(function() {
               
                if(localStorage.getItem('token')){
		 
                    attemptJWTLogin()
              
                    if (localStorage.getItem('loginTruth') == 'false'){
                        if(token){
                            localStorage.setItem('token', token);
                            attemptJWTLogin();
                        }
                        
                    }
                }else{
                    if(token){
                       
                        localStorage.setItem('token', token);
			
                        attemptJWTLogin();
                    
                        
                    }
                }
           
     
            })
        </script>
        <script>
     
        </script>
    
    </body>
</html>