<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="google-signin-client_id" content="514434843520-p49lm90dlqo2ct0p7qe0oo0qfvhjue2e.apps.googleusercontent.com">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src= "jquery.form.min.js"></script>
      
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/main2.css">
        <link rel="stylesheet" href="css/navbar.css">
        <link rel="stylesheet" href="css/extras.css">
        <link rel="stylesheet" href="css/gradientButton.css">

        <link rel="stylesheet" href="css/searchPage.css">
       
               
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

        <title>Landing Page</title>
    </head>
    <body>
       
      

       
        <header>
            <%- include("partials/navbar.ejs") %> 

            
        </header>
        
        <button class='riseBtn'>
            <span class='fa fa-arrow-up fa-2x'></span>
        </button>
         
       
     
            
           
    <div class="outerCont">
      
        <div class="searchCont">
            <div class='resultsDes'></div>
        </div>
    </div>
      

           


       

        <footer>
            <div class='footerCont'>
                <div class='footerLogo'><h3>PictureRes</h3</div>
            </div>
        </footer>
        

       
       
  
      

        
        
        
     
        
      
     
        <script src="js/handleNav.js"></script>
        <script src="js/generateSearchResults.js"></script>
        <script src="js/handleSearchBar.js"></script>
        <script>
            
            var user = <%- user %>;
            console.log(user)
        
            var token = <%- token %>;
            console.log(token)

            var loginTruth;
            
	   
            
            $(document).ready(function() {
               
                if(localStorage.getItem('token')){
		 
                    attemptJWTLogin()
              
                    if (localStorage.getItem('loginTruth') == 'false'){
                        if(token){
                            localStorage.setItem('token', token);
                            attemptJWTLogin();
                        }
                        
                    }
                }else{
                    if(token){
                       
                        localStorage.setItem('token', token);
			
                        attemptJWTLogin();
                    
                        
                    }
                }
           
     
            })

            var albumList = <%- albumList %>;
        </script>
        <script>
            
        </script>
    
    </body>
</html>