<!DOCTYPE html>
<html>
    <title>Successful signup!</title>
</html>
<body>
    <p>Sign up was successful! Now redirecting...</p>
    <script>
        window.onload = () =>  {
            setTimeout(() => {
                window.location.href = "/";
            }, 2000)
        }
    </script>
</body>